@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');
@import "tailwindcss";

body {
  background-color: #FDFDFD;
  color: #545454;
  font-family: 'Satoshi', system-ui, -apple-system, sans-serif;
}